* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

header {
  margin: 25px 0;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

input {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  height: 50px;
  width: 410px;
  padding: 15px;
}

input:focus {
  outline: none;
  border: 1px solid #46698b;
}

.photos a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

/* lightbox styles */

.lb-data .lb-details {
 width: 100%;
 text-align: center;
}

.lb-data {
 margin-top: 25px;
}

.lb-data .lb-caption {
 font-size: 15px;
 max-width: 600px;
}

.lb-data .lb-close {
 display: none;
}
